.title {
    text-align: center;
    margin-top: 12rem;
    font-size: 25px;
}

.start-menu {
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(30deg, rgba(0,0,0,1) 25%, rgba(241,255,253,1) 75%);
}


.sub-title {
    font-size: 20px;
}

body {
    background-color: green;
}


.black-pieces {
    -webkit-filter:invert(100%);
     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

div {
    position: absolute;
    width: 50px;
    height: 50px;
}

.board {
    margin: auto;
    position: absolute;
    top: 2;
    
    left: 2;
   
}
